
* {
    margin: 0;
}

h1 {
    margin: 0.5em;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1e1e1e;
}

nav {
    height: 40px;
    margin-bottom: 15px;

    .navbar-inner  {
        background: #13110f;
        border: 0;
        height: 40px;
        display: flex;
        position: fixed;
        width: 100%;
        align-items: center;

        a {
            color: white;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            padding: 0 5px;
        }
    }
}

// h1 {
//     position: sticky;
//     top: 0;
//     background: white;
// }

.benchmarkFilter {
    margin: 20px 5px;
    font-size: 14px;
    // position: sticky;
    // top: 42px;

    table {
        background: #e0e0e0;
        width: 1200px;
        border-spacing: 0;
        box-shadow: 4px 5px 5px #888888;    
    }

    th,
    td {
        font-size: 12px;
        padding: 5px 2px;
        border-bottom: 1px inset #c0c0c0;
    }

    th {
        background: linear-gradient(0deg, #e8e8e8, #f8f8f8);
        border-right: 1px solid #d0d0d0;
    }
    td {
        background: linear-gradient(-45deg, #c8c8c8, #d8d8d8);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 200px;
            float: left;
            text-align: center;
        }
    }

    input[type="text"],
    input[type="number"] {
        text-align: center;
        border-radius: 5px;
        border: 2px inset #d0d0d0;            
    }

    // input[type="checkbox"] {
    //     display: none;
    // }

    // input[type="checkbox"] + span  {
    //     display: inline-block;
    //     width: 20px;
    //     height: 20px;
    //     // margin: -2px 10px 0 0;
    //     // vertical-align: middle;
    //     background: url(haxeCheckbox5.png) left top no-repeat;
    //     // cursor: pointer;
    // }

    // input[type="checkbox"]:checked + span {
    //     background: url(haxeCheckbox5.png) -20px top no-repeat;
    // }

    .filterRange {
        input {
            width: 90px;
        }
    }

    .filterAllTargets {
        width: 9%;
        float: left;
        text-align: center;
    }

    .filterTargets {
        float: left;
        width: 90%;

        li {
            width: 7.69%;
            height: 45px;
        }
    }

    #averageWindow {
        width: 50px;
    }
}

.benchmarkDescription {
    list-style: square;
    li {
        font-size: 14px;
    }
}

.benchmarkGraphs {
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;


    canvas {
        float: left; 
        width: 50%;
        height: 400px; 
        max-width: 50%;
        // margin: 1px;
    }
}

.content {
    h1 {
        margin: 25px 0 15px 0;

        .benchmarkSetupInfoPage {
            font-size: 14px;
        }
    }

    width: 1024px;
    margin: 0 auto;

    ul {
        padding: 0;
        list-style: none;
    }

    ul.benchmarkInfoList {
        list-style: square;
    }    
}

.historyLog {
    min-width:75%;
    
    table, td, th {
        border-bottom: 1px solid #ccc;
    }

    th {
        background-color: #d8d8d8;
    }
    
    td {
        padding:4px;   
    }
}
