
.historyLog {
    font-size: 12px;
}

table, td, th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

td:first-child, th:first-child {
    border-right: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #d8d8d8;
}
