
* {
    margin: 0;
}

nav {
    height: 40px;
    margin-bottom: 15px;

    .navbar-inner  {
        background: #13110f;
        border: 0;
        height: 40px;
        display: flex;
        position: fixed;
        width: 100%;
        align-items: center;

        a {
            color: white;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            padding: 0 5px;
        }
    }
}

.benchmarkFilter {
    border: 1px solid #c0c0c0;
    background: #e0e0e0;
    width: fit-content;
    margin: 20px 5px;
    // padding: 4px;
    font-size: 14px;

    table {
        width: 900px;
    }

    th,
    td {
        font-size: 12px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 30%;
            float: left;
            text-align: center;
        }
    }

    #averageWindow {
        width: 50px;
        text-align: right;
    }
}

.benchmarkDescription {
    list-style: square;
    li {
        font-size: 14px;
    }
}

.benchmarkGraphs {
    display: flex; 
    flex-wrap: wrap; 
    width:100%;

    canvas {
        float:left; 
        width: 50%; 
        height: 400px; 
        max-width: 50%;
    }
}

.content {
    h1 {
        margin: 25px 0 15px 0;
    }

    width: 1024px;
    margin: 0 auto;

    ul {
        padding: 0;
        list-style: none;
    }
}

.historyLog {
    font-size: 12px;
}

table, td, th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

td:first-child, th:first-child {
    border-right: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #d8d8d8;
}
