<html>

<head>
    <title>::title::</title>
    <link href="../css/Chart.min.css" type="text/css" rel="stylesheet" />
    <link href="../css/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link href="../css/benchmark.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <nav class="section nav dark">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand haxe-logo" href="https://haxe.org/"><img alt="Haxe" height="21" src="https://haxe.org/img/haxe-logo-horizontal-on-dark.svg" width="107" /></a>
                <a class="brand sub lib" href="/">&larr;&nbsp;Haxe Benchmarks</a>
            </div>
        </div>
    </nav>
    ::description::
    <form class="benchmarkFilter">
        <table>
            <tr>
                <th>Datasets</th>
                <td>
                    <ul class="filterDatasets">
                        <li>
                            <label for="withHaxe3">Haxe 3</label><br />
                            <input id="withHaxe3" name="withHaxe3" type="checkbox" value="true" checked>
                        </li>
                        <li>
                            <label for="withHaxe4">Haxe 4</label><br />
                            <input id="withHaxe4" name="withHaxe4" type="checkbox" value="true" checked>
                        </li>
                        <li>
                            <label for="withHaxeNightly">Haxe nightly</label><br />
                            <input id="withHaxeNightly" name="withHaxeNightly" type="checkbox" value="true" checked>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Average</th>
                <td>
                    <ul class="filterAverage">
                        <li>
                            <br />
                            <select id="average">
                                <option value="none">none</option>
                                <option value="SMA" selected>simple moving average</option>
                                <option value="EMA">exponential moving average</option>
                            </select>
                        </li>
                        <li>
                            <label for="averageWindow">window size</label><br />
                            <input id="averageWindow" name="averageWindow" type="number" min="2" value="6">
                        </li>
                        <li>
                            <label for="onlyAverage">only averages</label><br />
                            <input id="onlyAverage" name="onlyAverage" type="checkbox" value="true">
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Range</th>
                <td>
                    <ul class="filterRange">
                        <li>
                            <label for="startDate">start date</label><br />
                            <input id="startDate" name="startDate" type="text">
                        </li>
                        <li>
                            <label for="endDate">end date</label><br />
                            <input id="endDate" name="endDate" type="text">
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Targets</th>
                <td>
                    <div class="filterAllTargets">
                        <label for="allTargets">all targets</label><br />
                        <input id="allTargets" name="allTargets" type="checkbox" value="true" checked>
                    </div>
                    <ul class="filterTargets">
                        ::foreach targets::<li>
                            <label for="::checkboxId::">::name::</label><br />
                            <input id="::checkboxId::" name="::checkboxId::" data-target="::id::" data-canvas-id="::canvasId::" class="targetCheckbox" type="checkbox" value="true" checked>
                        </li>
                        ::end::
                    </ul>
                </td>
            </tr>
        </table>
    </form>

    <div class="benchmarkGraphs" stlye="">
        <canvas id="latestBenchmarks" height="400" class="chartjs-render-monitor"></canvas>
        <canvas id="latestCompileTimes" height="400" class="chartjs-render-monitor"></canvas>
        ::foreach canvas::<canvas id="::canvasId::" data-target="::id::" height="400" class="chartjs-render-monitor targetCanvas"></canvas>
        ::end::
    </div>

    ::history::
</body>
<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../js/Chart.min.js" type="text/javascript"></script>
<script src="../js/benchmark.js" type="text/javascript"></script>
</html>
