<html>

<head>
    <title>::title::</title>
    <link href="../css/Chart.min.css" type="text/css" rel="stylesheet" />
    <link href="../css/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link href="../css/benchmark.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <nav class="section nav dark">
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand haxe-logo" href="https://haxe.org/"><img alt="Haxe" height="21" src="https://haxe.org/img/haxe-logo-horizontal-on-dark.svg" width="107" /></a>
                <a class="brand sub lib" href="/">&larr;&nbsp;Haxe Benchmarks</a>
            </div>
        </div>
    </nav>
    ::description::
    <form class="benchmarkFilter">
        <table>
            <tr>
                <th>Datasets</th>
                <td>
                    <ul class="filterDatasets">
                        <li>
                            <label for="withHaxe3">Haxe 3</label><br />
                            <input id="withHaxe3" name="withHaxe3" type="checkbox" value="true" checked />
                        </li>
                        <li>
                            <label for="withHaxe4">Haxe 4</label><br />
                            <input id="withHaxe4" name="withHaxe4" type="checkbox" value="true" checked />
                        </li>
                        <li>
                            <label for="withHaxeNightly">Haxe nightly</label><br />
                            <input id="withHaxeNightly" name="withHaxeNightly" type="checkbox" value="true" checked />
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Average</th>
                <td>
                    <ul class="filterAverage">
                        <li>
                            <br />
                            <select id="average">
                                <option value="none">none</option>
                                <option value="SMA" selected>simple moving average</option>
                                <option value="EMA">exponential moving average</option>
                            </select>
                        </li>
                        <li>
                            <label for="averageWindow">window size</label><br />
                            <input id="averageWindow" name="averageWindow" type="number" min="2" value="13" />
                        </li>
                        <li>
                            <label for="onlyAverage">only averages</label><br />
                            <input id="onlyAverage" name="onlyAverage" type="checkbox" value="true" />
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Range</th>
                <td>
                    <ul class="filterRange">
                        <li>
                            <label for="startDate">start date</label><br />
                            <input id="startDate" name="startDate" type="text" />
                        </li>
                        <li>
                            <label for="endDate">end date</label><br />
                            <input id="endDate" name="endDate" type="text" />
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Targets</th>
                <td>
                    <div class="filterAllTargets">
                        <div>
                            <label for="allTargets">select all</label><br />
                            <input id="allTargets" name="allTargets" type="checkbox" value="true" checked />
                        </div>
                        <div>
                            <label for="noTargets">deselect all</label><br />
                            <input id="noTargets" name="noTargets" type="checkbox" value="true" />
                        </div>
                    </div>
                    <ul class="filterTargets">
                        ::foreach targets::<li>
                            <label for="::checkboxId::">::name::</label><br />
                            <input id="::checkboxId::" name="::checkboxId::" data-target="::id::" data-canvas-id="::canvasId::" class="targetCheckbox" type="checkbox" value="true" checked />
                        </li>
                        ::end::
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Time Selection</th>
                <td>
                    <ul class="filterTimes">
                        <li>
                            <label for="timesRuntime">runtime</label><br />
                            <input id="timesRuntime" class="timesSelect" name="times" type="radio" value="runtime" />
                        </li>
                        <li>
                            <label for="timesCompiletime">compile time</label><br />
                            <input id="timesCompiletime" class="timesSelect" name="times" type="radio" value="compiletime" />
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </form>

    <div id="issueListContainer">
        <!-- <div id="haxe3Issues">Haxe 3 issues: <span>unknown</span></div> -->
        <div id="haxe4Issues">Haxe 4 issues: <span>unknown</span></div>
        <div id="haxeNightlyIssues">Haxe nightly issues: <span>unknown</span></div>
    </div>

    <div class="benchmarkGraphs" stlye="">
        <canvas id="latestBenchmarks" height="400" class="chartjs-render-monitor"></canvas>
        <canvas id="latestCompileTimes" height="400" class="chartjs-render-monitor"></canvas>
        ::foreach canvas::<canvas id="::canvasId::" data-target="::id::" height="400" class="chartjs-render-monitor targetCanvas"></canvas>
        ::end::
    </div>

    <table class="historyLog">
        <tr>
            <th>date</th>
            <th>what</th>
        </tr>
        <tr>
            <td>2021-05-20 01:30:00</td>
            <td>upgraded to Haxe 4.2.2</td>
        </tr>
        <tr>
            <td>2021-03-30 11:00:00</td>
            <td>upgraded to Haxe 4.2.1</td>
        </tr>
        <tr>
            <td>2021-01-01 11:00:00</td>
            <td>upgraded to Haxe 4.1.5</td>
        </tr>
        <tr>
            <td>2020-06-19 21:30:00</td>
            <td>upgraded Haxe 4.1.1 to Haxe 4.1.2</td>
        </tr>
        <tr>
            <td>2020-06-12 18:00:00</td>
            <td>disabled Haxe 3 runs</td>
        </tr>
        <tr>
            <td>2020-05-23 00:00:00</td>
            <td>upgraded Haxe 4.1.0 to Haxe 4.1.1</td>
        </tr>
        <tr>
            <td>2020-05-22 22:00:00</td>
            <td>added luajit<br/>downgraded lua 5.2 to lua 5.1</td>
        </tr>
        <tr>
            <td>2020-05-17 21:00:00</td>
            <td>using github version of hxnodejs</td>
        </tr>
        <tr>
            <td>2020-05-16 00:00:00</td>
            <td>upgraded hxnodejs 10.0.0 to 12.0.0</td>
        </tr>
        <tr>
            <td>2020-05-13 16:00:00</td>
            <td>upgraded Haxe 4.0.5 to Haxe 4.1.0</td>
        </tr>
        <tr>
            <td>2020-05-08 18:00:00</td>
            <td>added `rm -rf out` to clean ouput folders in between versions => increased compile times for C++</td>
        </tr>
        <tr>
            <td>2020-05-06 02:00:00</td>
            <td>switched SHA256, SHA512 and BCrypt benchmarks to benchmark-runner</td>
        </tr>
        <tr>
            <td>2020-05-05 12:00:00</td>
            <td>switched to benchmark-runner (all except SHA256, SHA512 and BCrypt benchmarks) - increased values due to including process launch time of testee</td>
        </tr>
        <tr>
            <td>2020-04-25 18:00:00</td>
            <td>upgraded PHP 7.3.15-3 to PHP 7.3.17-1<br/>upgraded Node v10.19.0 to Node v10.20.1</td>
        </tr>
        <tr>
            <td>2020-04-25 14:00:00</td>
            <td>added Cppia and Lua</td>
        </tr>
        <tr>
            <td>2020-03-30 14:00:00</td>
            <td>upgraded HL 1.10 to 1.11</td>
        </tr>
        <tr>
            <td>2020-03-17 14:00:00</td>
            <td>switched to hxcpp github</td>
        </tr>
        <tr>
            <td>2020-03-15 15:00:00</td>
            <td>added C++ (GC Gen) run</td>
        </tr>
        <tr>
            <td>2020-03-01 03:00:00</td>
            <td>upgraded PHP 7.3.13-1 to PHP 7.3.15-3<br/>upgrade Node v10.18.1 to Node v10.19.0</td>
        </tr>
        <tr>
            <td>2020-01-20 00:00:00</td>
            <td>upgraded to Haxe 4.0.5<br/>upgrade to lix 15.8.5</td>
        </tr>
        <tr>
            <td>2019-11-29 22:00:00</td>
            <td>upgraded to Haxe 4.0.3</td>
        </tr>
        <tr>
            <td>2019-11-11 18:00:00</td>
            <td>upgraded Haxe 4.0.1 to Haxe 4.0.2</td>
        </tr>
    </table>
</body>
<script src="../js/jquery.min.js" type="text/javascript"></script>
<script src="../js/jquery-ui.min.js" type="text/javascript"></script>
<script src="../js/Chart.min.js" type="text/javascript"></script>
<script src="../js/benchmark.js" type="text/javascript"></script>
</html>
